nav {
	background: #FA48E2;
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}
nav > a {
	color:  #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 900;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}
a > span {
	font-family: 'Lato', sans-serif;
	color:  #cfc91d;
	text-align: left;
	font-weight: 400;
}
nav ul {
	position: absolute;
	right: 25px;
	top:5px;
}
nav li {
	display: inline-block;
	padding:0 15px;
}
nav li > a {
	color: #fff;
	text-decoration: none;
}

nav li > a:hover,
nav li > a:focus {
	color: #988428;
}
header {
	background-color: #2B7A17;
	margin-top: 60px;
	height: 10px;
}

input {
	background-image: url(img/searchicon.png) right no-repeat;
	background-position: 10px 10px;
	background-color: #fff;
	width:20%;
	height: 24px;
	left: 1018px;
	top:100px;
	position: ;
}
.one {
	background-color: #fff;
	 margin: 0 auto;
	 width: 100%;
	 height: 600px;
}
img {
	height: 500px;
	width: 500px;
	padding-left: 100px;
}
.block1 {
	float: left;
	margin: 3% 0;
	padding-left: 100px;
	padding-bottom: 100px;
	width: 40%;
}
.block2 {
	float: right;
	margin: 3% 0;
	padding-left: 100px;
	width: 40%;
}
footer {
	width: 100%;
	background-color: #2B7A17;
	height: 100px;
}
