nav {
	background: #FA48E2;
	height: 60px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}
nav > a {
	color:  #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 900;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}
a > span {
	font-family: 'Lato', sans-serif;
	color:  #cfc91d;
	text-align: left;
	font-weight: 400;
}
nav ul {
	position: absolute;
	right: 25px;
	top:5px;
}
nav li {
	display: inline-block;
	padding:0 15px;
}
nav li > a {
	color: #fff;
	text-decoration: none;
}

nav li > a:hover,
nav li > a:focus {
	color: blue;
}
header {
	background-color: #2B7A17;
	margin-top: 60px;
	height: 10px;
}

.one {
	background-color: #fff;
	 margin: 0 auto;
	 width: 100%;
	 height: 600px;
}
img {
	height: 500px;
	width: 500px;
	padding-left: 100px;
}
.block1 {
	float: left;
	margin: 3% 0;
	padding-left: 100px;
	padding-bottom: 100px;
	width: 40%;
}
.block2 {
	float: left;
	margin: 0 auto;
	padding-top: 0;
	width: 40%;
}
.search-box-wrapper {
display: inline-flex;
font-size: 10px;
height: 30px;
}
.search-box-input {
font-size: inherit;
background-color: lightgrey;

}
.search-box-button {
	font-size: inherit;
	background-color: lightgrey;

}
i {
	font-size: 20px;
}
p {
	margin: 0 auto;
	padding-left: 25px;
	font-size: 37px;
}
sup {
	font-size: 20px;
}
p span {
	color: #FA48E2;
}
span.web {
	color: #26C7FD;
}
}
footer {
	width: 100%;
	background-color: #2B7A17;
	height: 100px;
}
button.quote {

}
button.case {

}
